.section {
  position: relative;
  height: 100vh;
}

.aside {
  position: fixed;
  z-index: 10;
  top: 20%;
  right: 60px;

  &__item {
    margin: 0 0 20px 0;
  }

  &__link {
    position: relative;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;

    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
  }
}

.aside__item {
  &.active {
    .aside__link {
      border: 1px solid #fff;
    }
  }
}

.intro {
  background-image: url("../../img/bg/first_1.jpg");
  background-size: cover;
  background-position: center center;

  &__content {
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
  }

  &__title {
    font-size: 60px;
    color: $yellow;
  }

  &__text {
    color: #fff;
    font-size: 24px;
  }

  &__image {
    margin: -30px 0 0 0;
  }

  &__block {
    margin: -30px 0 0 0;
  }
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: flex;
    align-items: center;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    margin: 0 20px 0 0;
    text-transform: uppercase;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background-color: #fff;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: -13px;
    }

    &:first-child {
      &:before {
        display: none;
      }
    }
  }

  &__link {
    color: #fff;
  }
}

.button {
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}
